.menu-bar{
    -fx-background-color: #5D9E3B;
    -fx-opacity: 0.5;
    -fx-border-width: 2.0;
    
}
.button1{
    -fx-background-color: transparent;
    
}

.button2{
    -fx-background-color: #FAEDDC;
    -fx-border-color: brown;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.button3:hover{
    -fx-background-color: #FAEDDC;
    -fx-font-size:22px;
    -fx-effect: dropshadow(three-pass-box, black, 20, 0, 0, 0);   
}

.button4:hover{
    -fx-font-size: 22px; 
}

.button5{
    -fx-background-color: #79B85C;
    -fx-border-color: black;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.button6:hover{
    -fx-background-color: #79B85C;
    -fx-font-size:22px;
    -fx-effect: dropshadow(three-pass-box, black, 20, 0, 0, 0);   
}

.button7{
    -fx-background-color: #FFDE59;
    -fx-border-color: black;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.button8:hover{
    -fx-background-color: #FFDE59;
    -fx-font-size:22px;
    -fx-effect: dropshadow(three-pass-box, black, 20, 0, 0, 0);   
}

.button9{
    -fx-background-color: #FF3131;
    -fx-border-color: black;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.button10:hover{
    -fx-background-color: #FF3131;
    -fx-font-size:22px;
    -fx-effect: dropshadow(three-pass-box, black, 20, 0, 0, 0);   
}

.table-view .comun-header,
.table-view .comun-header-background.filler{
    -fx-cell-size: 20;
    -fx-background-color: #5D9E3B;
}
 
.table-row-cell:selected{
    -fx-background-color: #F2B01E;
}